* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --primary-color: #FF8A65;
    --secondary-color: #FF7043;
    --bg: #F5F7F8;
    --card-bg: #ECEFF1;
    --card-inner-bg: #DBE2E5;
    --button-bg: #CFD8DC;
    --primary-text-color: #263238;
    --secondary-text-color: #607D8B;
    --hover: #C4CED4;
}

.dark-mode {
    --primary-color: #FF7043;
    --secondary-color: #FF8A65;
    --bg: #13191C;
    --card-bg: #1C252A;
    --card-inner-bg: #263238;
    --button-bg: #37474F;
    --primary-text-color: #ECEFF1;
    --secondary-text-color: #90A4AE;
    --button-text-color: #F5F7F8;
    --hover: #455A64;
}

::selection {
    background-color: var(--primary-color);
    color: var(--bg);
}

body {
background-image:url(../img/back.jpg);
height: 100%;
width: 100%;
margin: 0;
}

.bg {
background-image:url(../img/back.jpg);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}